body {
    background-color: #000;
    color: #fff;
font-family: 'Raleway', sans-serif;

}

.wrapper {
    /*  display: flex;*/
    position: absolute;
    margin-top: 365px;
    margin-left: 555px;
    align-items: center;
    justify-content: center;
    /*    height: 100vh;*/
}
/*
#typed {
    font-family: 'Raleway', sans-serif;

}
*/

#sn {
    color: white;
    font-size: 24px;
}
